---
layout: default 
seo: 
    title: Fancy travel blog website
    description: 
    keywords: 
    social_image: 
    hide-from-google: false

hero-banner:
    image: /assets/images/blog-bg-12.jpg
    heading: A whole new world
    subheading: Surfing teaches you to appreciate the finer things in life, to be present, live in the moment and just breath. 
---

{% include hero-banner.html %}

<!-- Section 2 - Image and text grid -->

<section class="bg-dark-grey">

    <div class="grid grid-cols-2 gap-10 p-5p">
        <img src="/assets/images/blog-bg-13.jpg">

        <div class="self-center">
            <h2 class="text-6xl font-display max-w-sm"> A fascinating heading about the site. </h2>
            <p class="py-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit optio obcaecati impedit quas eaque vero nihil laborum culpa voluptates facilis aliquid sed, necessitatibus excepturi quidem animi, alias perspiciatis est rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit optio obcaecati impedit quas eaque vero nihil laborum culpa voluptates. </p>
            <a href="#" class="font-display uppercase underline tracking tracking-widest"> Read more </a>
        </div>
    </div>

</section>

<!-- Section 3 - Upcoming Travel Destinations -->

<section class="p-5p">

        <h2 class="font-display text-4xl text-center uppercase"> Upcoming travel destinations </h2>
    
    <div class="grid grid-cols-2 gap-8 border-t-1 border-b-1 p-6">

        <ul class="grid divide-y divide-black border-y border-black my-6"> 

            {% for destination in site.data.site-setting.destinations %}

            <li class="flex justify-between leading-9 py-4"> <span class="uppercase"> {{destination.location}} </span> <span> {{destination.date}} </span></li>

            {% endfor %}
        </ul>

    <div class="relative">
        <img src="assets/images/blog-bg-14.jpg" class="absolute inset-0 object-cover h-full w-full">
        <h3 class="font-display text-3xl bg-light-grey absolute bottom-3 py-4 px-6"> Currently in Tuscany </h3>
    </div>

    </div>

</section>  

<!-- Recently on the blog section -->

<section class="p-8 bg-dark-grey">

    <h2 class="uppercase text-4xl font-display text-center py-6 leading-14"> Recently on the blog...</h2>

    <div class="flex overflow-x-scroll gap-4 items-center"> 
	{% for post in site.posts %}
	
        {% include post-loop-item.html %}
	
	{% endfor %}
    </div>
</section> 