---
layout: default

hero-banner:
    image: /assets/images/blog-bg-17.jpg
    subheading1: Shop our
    heading: Curated Collection.
    subheading: Nature teaches you to appreciate the finer things in life, to be present, live in the moment and just breath. 
    link: 
---

{% include hero-banner.html %}

<section class="p-8">

    <h2 class="text-4xl font-display text-center py-8"> Travel Guides </h2>


<div class="grid grid-cols-3 gap-6"> 
    {% for post in site.posts %}

    {% include post-loop-item.html %}

{% endfor %}

</section>