<header>

    <div style="background-image: url('{{page.hero-banner.image}}');" class="flex flex-col bg-cover bg-[60%_40%] min-h-screen text-white p-5p justify-center">

        <h1 class="max-w-2xl text-9xl font-display"> {{page.hero-banner.heading}} </h1>
        <p class="max-w-sm uppercase"> {{page.hero-banner.subheading}} </p>

        {% if page.hero-banner.link %}

        <a href="{{page.hero-banner.link}}" class="uppercase text-2xl font-display underline tracking-widest py-2"> Read more </a>

        {% endif %}
    </div>

</header>