<!-- This is the product loop for the product images -->

<div class="basis-[30%] grow-0 shrink-0 bg-white">
	
	<a href="{{product.url}}" class="block bg-cover relative pb-[50vh]">
        <img src="{{product.featured_image}}" alt="{{product.title}}" class="absolute inset-0 w-full h-full object-cover">

    {% if product.tag %}

        <p class="absolute top-2 -right-2 bg-black text-white uppercase tracking-widest py-2 px-6"> {{product.tag}}</p>

    {% endif %}

    </a>

<!-- This is the information for the product information - product loop -->
    
    <div class="p-4">

     {% if include.type %}   
        <p class="uppercase bg-light-grey p-2 inline-block"> {{include.type}} </p>
    {% endif %}

        <a href="{{product.url}}" class="block uppercase py-4 tracking-wider"> {{product.title}} </a>
    	<p class="tracking-wide"> {{product.description}} </p>

        <!-- The below asign has been done so the decimal points are taken into account for any $$ which is 00.00, anything like 0.8 will be picked up and anything 0.0 will be dismissed -->

        {% assign cent-check = product.price | modulo: 100 %}
        
        <p>
            {% if cent-check > 1 %}
             ${{product.price | divided_by: 100.00 }}
            {% else %}
            ${{product.price | divided_by: 100 }}

            {% endif %}
            </p>
    </div>
    
</div>
