<div>
    <h2 class="font-display text-3xl text-center uppercase"> Recently on the blog </h2>
</div>

<!-- Scrolling recently on the blog section -->

<div class="flex overflow-x-scroll gap-4 items-center"> 

        <div class="basis-[30%] grow-0 shrink-0">
            <img src="images/moody-website-assets/moody-9.jpg">
            <h4> </h4>
            <p> </p>
            <a> </a>
        </div>
        <div class="basis-[30%] grow-0 shrink-0">
            <img src="images/moody-website-assets/moody-10.jpg">
        </div>
        <div class="basis-[30%] grow-0 shrink-0">
            <img src="images/moody-website-assets/moody-11.jpg">
        </div>
        <div class="basis-[30%] grow-0 shrink-0">
            <img src="images/moody-website-assets/moody-11.jpg">
        </div>

</div>