---
layout: default
---

<!-- This is for set up of the single product page (lightroom presets) -->

<section class="bg-light-grey">

    <div class="grid grid-cols-2 gap-6"> 
        <div class="p-5p flex items-end">
            <div>
                <h2 class="font-display text-3xl">{{page.title}} </h2>
                <h3 class="uppercase"> {{page.subheading}}</h3>
                <p>{{page.description}}</p>
                <a href="" class="bg-black text-white  uppercase text-center p-2"> Buy now </a>
            </div>
        </div>

        <div>
            <img src="/assets/images/blog-bg-3.jpg" class=""> 
        </div>

    </div>

</section>

<!-- Section 2 of presets - Image and text grid -->

<section class="bg-light-grey pt-10">

    <div class="grid grid-cols-2 gap-10 p-5p">
        <img src="/assets/images/blog-bg-3.jpg">

        <div class="self-center max-w-sm">
            <h2 class="text-4xl font-display uppercase"> Before & after </h2>
            <p class="py-4 leading-6"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit optio obcaecati impedit quas eaque vero nihil laborum culpa voluptates facilis aliquid sed, necessitatibus excepturi quidem animi, alias perspiciatis est rerum. </p>
        
        </div>

    </div>

</section>